<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ナンプレ！</title>
    <link href="/static/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- ナンプレ画像のアップロード -->
    <form method=post action="/upload" enctype = multipart/form-data>
        <p>
            <input type=file name=file>
            <input type=submit value=Upload>
        </p>
    </form>
    <!-- 解答を取得 -->
    <form method=post action="/solve">
        <p>
            <input type=submit value="解答を取得">
        </p>
    </form>
    <div id="app" class="top_div">
        <div id="img_div" class="box">
            <div>
                <caption class="caption">アップロードした画像</caption>
            </div>
            <div>
                <img src="./images/sudoku.png">
            </div>
        </div>
        <div class="box">
            <caption class="caption">読み取ったナンプレ</caption>
            <table class="num_table">
                <tbody>
                    <tr v-for="(row, i) in cells">
                        <td
                            v-if="!isEdit[i][j]"
                            v-for="(cell, j) in row"
                            :class="{ hole: masks[i][j] == 'X' }"
                            @click="clickCell"
                        >[[ cell ]]</td>
                        <td
                            v-else
                            :class="{ hole: masks[i][j] == 'X' }"
                        ><input type="text" id="edit" v-model="cell" @blur="blurCell" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/static/js/script.js"></script>
</body>
</html>
